.-incident > .content-container > form {
  width: 100%;
  max-width: 450px;
}

.-incident > .content-container > form input,
.-incident > .content-container > form textarea {
  margin-top: 8px;
}

@media (max-width: 1120px) {
  .-incident > .content-container {
    height: 100%;
  }
}

@media (max-width: 900px) {
  .-incident > .content-container {
    padding: 50px;
  }
}

@media (max-width: 760px) {
  .page-container.-incident {
    height: auto;
  }
}
