.profile-container {
  width: 100%;
  max-width: 1180px;
  margin: 32px auto;
}

.profile-container > .profile-header {
  display: flex;
  align-items: center;
}

.profile-container > .profile-header > img {
  height: 64px;
}

.profile-container > .profile-header > span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container > .profile-header > a {
  width: 260px;
  margin-top: 0;
  margin-left: auto;
}

.profile-container > .profile-header > button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  margin-left: 16px;

  transition: border-color 200ms;
}

.profile-container > .profile-header > button:hover {
  border-color: #999;
}

.profile-container > h1 {
  margin: 80px 0 24px;
}

.profile-container > ul {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.profile-container > ul > li {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;

  position: relative;
}

.profile-container > ul > li > button {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: transparent;
  border: 0;
}
.profile-container > ul > li > button:hover {
  opacity: 0.8;
}

.profile-container > ul > li > h3 {
  font-size: 14px;
  color: #41414d;
  margin-bottom: 16px;
}

.profile-container > ul > li > p + h3 {
  margin-top: 32px;
}

.profile-container > ul > li > p {
  font-size: 16px;
  line-height: 21px;
  color: #737380;
}
