.profile-container {
  width: 95%;
  max-width: 1180px;
  margin: 32px auto;
}

.profile-container > .profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-container > .profile-header > .column {
  display: flex;
  align-items: center;
}

.profile-container > .profile-header > .column img {
  height: 64px;
}

.profile-container > .profile-header > .column span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container > .profile-header > .column a {
  width: 260px;
  margin-top: 0;
  margin-left: auto;
}

.profile-container > .profile-header > .column button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  margin-left: 16px;

  transition: border-color 200ms;
}

.profile-container > .profile-header > .column button:hover {
  border-color: #999;
}

.profile-container > h1 {
  margin: 80px 0 24px;
}

.profile-container > ul {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.profile-container > ul > li {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;

  position: relative;
}

.profile-container > ul > li > button {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: transparent;
  border: 0;
}
.profile-container > ul > li > button:hover {
  opacity: 0.8;
}

.profile-container > ul > li > h3 {
  font-size: 14px;
  color: #41414d;
  margin-bottom: 16px;
}

.profile-container > ul > li > p + h3 {
  margin-top: 32px;
}

.profile-container > ul > li > p {
  font-size: 16px;
  line-height: 21px;
  color: #737380;
}

@media (max-width: 900px) {
  .profile-container > .profile-header > .column a {
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }

  .profile-container > .profile-header > .column button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 750px) {
  .profile-container > .profile-header {
    padding: 0 30px;
    flex-direction: column-reverse;
  }

  .profile-container > .profile-header > .column {
    width: 100%;
    justify-content: space-between;
  }

  .profile-container > .profile-header > .column + .column {
    margin-bottom: 20px;
  }

  .profile-container > .profile-header > .column a {
    order: 3;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .profile-container > ul {
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .profile-container > .profile-header {
    padding: 0 10px;
  }

  .profile-container > .profile-header > .column img {
    width: 100px;
    height: 60px;
  }
}
