.-register > .content-container > form {
  width: 100%;
  max-width: 450px;
}

.-register > .content-container > form input {
  margin-top: 8px;
}

.-register > .content-container > form > .input-group {
  display: flex;
}

.-register > .content-container > form > .input-group > input:first-child {
  min-width: 200px;
}

.-register > .content-container > form > .input-group > input + input {
  margin-left: 8px;
}

@media (max-width: 1120px) {
  .-register > .content-container {
    min-height: 100vh;
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .-register > .content-container {
    padding: 50px;
  }
}

@media (max-width: 760px) {
  .page-container.-register {
    height: auto;
  }
}
